.slider {
    &__item{
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        height: 1000px;
    }
}

@media only screen and (max-width: 600px) {
    .slider{
        &__item{
            height: 500px;
        }
    }
}
