.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;
    height: 60px;

    &__title{
        padding: 10px;
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 3px;
        margin: 0;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        text-decoration: none;
        color: var(--secondary-color);
    }
    
    &__menu-icon {
        padding: 10px;
        cursor: pointer;
        visibility: hidden;
    }

    &__icons{
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    &__icon{
        padding: 10px;
        cursor: pointer;
        text-decoration: none;
        color: var(--secondary-color);
    }
}


@media only screen and (max-width: 600px) {
    .header{
      &__menu-icon {
        visibility: visible;
      }

      &__title {
        left: 30%;
        transform: translate(-30%);
        font-size: 15px;
      }
    }
}
  

