.footer {
    background-color: var(--secondary-color);
    color: var(--primary-color);

    &__text {
        display: flex;
        padding-left: 100px;
        padding-top: 50px;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 1px;
    }

    &__socials {
        display: flex;
        padding: 50px 100px;
        width: fit-content;

        &__item {
            margin-right: 50px;
            background-color: var(--primary-color);
            color: var(--secondary-color);
            border-radius: 100%;
            display: flex;
            padding: 10px;
        }
    }

    &__space {
        border-bottom: 1px solid black;
    }

    &__copyright {
        font-size: 20px;
        padding: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .footer {
        &__socials, &__text{
            padding: 20px 30px;
            margin-left: 0;
        }
    }
}
