.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    visibility: visible;
    
    &__item {
        padding: 10px;
        font-size: 20px;
        font-weight: 500;
        text-decoration: none;
        color: var(--secondary-color);
        transition: 3s;

        &:hover{
            color: var(--red);
            transition: 1s;
        }

        &__sale{
            color: var(--red);
            text-decoration: none;
            transition: 1s;

            &:hover{
                font-size: 25px;
                transition: 1s;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .nav{
        display: none;
    }
}
